<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List Authors</title>
    <meta charset="UTF-8"/>
</head>
<body>
<h1>Авторы</h1>
<div>
    <table>
        <thead>
        <tr style="color:red"> 
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Профессия</th>
            <th>Год рождения</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="author:${authors}">
            <td th:text="${author.firstName}"></td>
            <td th:text="${author.lastName}"></td>
            <td th:text="${author.profession}"></td>
            <td th:text="${author.yearOfBirth}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
